.l-header {
  background-color: #eee;
  color: #aaa;
  padding: .5em;
  margin: 0;
  display: block;
}

.l-nav {
  padding: .5em;
  margin: 0;
  display: block;
}

.l-content {
  padding: .5em;
  margin: 0;
  display: block;
}
